.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.favButton{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  filter: contrast(30%) sepia(1) hue-rotate(0deg) saturate(8000%);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.CardBody{
  width: 100%;
}

.title{
  height: 2rem;
}